node_modules/
dist/
examples/**/*.tflite
examples/**/*.onnx
examples/**/*.bin
examples/**/*.xml
examples/**/*.pb
examples/**/*.ark
examples/skeleton_detection/model/mobilenet*/*
src/nn/wasm/src/build
.DS_Store
package-lock.json
