node_modules/
dist/
examples/mobilenet/model/
!examples/mobilenet/model/README.md
examples/squeezenet/model/*.onnx
!examples/squeezenet/model/README.md
examples/ssd_mobilenet/model/
!examples/ssd_mobilenet/model/README.md
.DS_Store
