#image,
video {
  max-width: 100%;
  max-height: 513px;
  display: none;
}
body {
  /* background: green; */
}
#output {
  max-width: 100%;
  max-height: 513px;
}
.image-wrapper {
  max-height: 513px;
  max-width: 513px;
  position: relative;
  display: inline-block;
}
.image-wrapper.show canvas,
.image-wrapper.show div {
  pointer-events: none
}
.overlay {
  transition: opacity .1s ease-in-out;
  background-color: rgba(0,0,0,0.3);
  color: rgba(255,255,255,0.6);
  height: 100%;
  width: 100%;
  position: absolute;
  opacity: 0;
  font-size: 10em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.image-wrapper.show .overlay {
  opacity: 1;
  z-index: 999 !important;
}
.progress-label {
  float: left;
  margin-right: 1em;
  height: 1rem;
  font-size: .75rem;
}
.top-margin {
  margin-top:10px;
}
.dropdown-item {
  cursor: pointer;
}
.netron-link {
  color: #fff;
}
.dropdown-item:hover .netron-link {
  color: #ccc;
}
.netron-link:hover {
  color: #169bd7 !important;
}
.slidecontainer {
  margin: 5px 11px;
  height: 20px;
  width: 100%;
}
.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
.slider:hover {
  opacity: 1;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background: #777;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #4CAF50;
  cursor: pointer;
}
.controls {
  font-size: 9px;
}
.controls .label {
  margin: 20px 0 8px 0;
}
.controls .btn-group {
  width: 100%;
  border-radius: 10px;
}
.controls .btn-group * {
  color: #fff;
  background-color: #777;
  font-size: 10px;
}
.controls .btn-group .btn {
  width: 33%;
}