#image {
  max-width: 100%;
  max-height: 513px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}
video {
  max-width: 100%;
  max-height: 513px;
  display: none;
}
#output {
  max-width: 100%;
  max-height: 513px;
}
.image-wrapper {
  max-height: 513px;
  max-width: 513px;
  position: relative;
  display: inline-block;
}
.image-wrapper.show canvas,
.image-wrapper.show div {
  pointer-events: none
}
.credit {
  position: absolute;
  bottom: 0;
}
.image-wrapper.show .overlay {
  opacity: 1;
  z-index: 999 !important;
}
.progress-label {
  float: left;
  margin-right: 1em;
  height: 1rem;
  font-size: .75rem;
}
.top-margin {
  margin-top:10px;
}
.dropdown-item {
  cursor: pointer;
}
.netron-link {
  color: #fff;
}
.dropdown-item:hover .netron-link {
  color: #ccc;
}
.netron-link:hover {
  color: #169bd7 !important;
}
.slidecontainer {
  margin: 5px 11px;
  height: 20px;
  width: 100%;
}
.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 3px;
  border-radius: 2px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
.slider:hover {
  opacity: 1;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid #777;
  border-radius: 10px;
  background: #fff;
  cursor: pointer;
}
.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border: 1px solid #777;
  border-radius: 10px;
  background: #fff;
  cursor: pointer;
}
.controls {
  font-size: 9px;
}
.controls .label {
  width: 100%;
  margin: 20px 0 8px 0;
}
.controls .btn-group {
  width: 100%;
  border-radius: 10px;
}
.controls .btn-group * {
  color: #fff;
  background-color: #777;
  font-size: 9px;
}
.controls .btn-group .btn {
  width: 24%;
}
.effects-select label:nth-child(1) {
  border-radius: 3px !important;
  margin-right: 5px;
}
.effects-select label:nth-child(2) {
  border-radius: 3px 0 0 3px !important;
}
.blur-wrapper,
.color-picker-wrapper,
.labels-wrapper,
.color-map-alpha-wrapper,
.refine-edge-wrapper,
.select-bg-wrapper {
  display: none;
}
.controls[data-select="blur"] .blur-wrapper {
  display: flex;
}
.controls[data-select="fill"] .color-picker-wrapper {
  display: flex;
}
.controls[data-select="label"] .labels-wrapper,
.controls[data-select="label"] .color-map-alpha-wrapper {
  display: flex;
}
.controls:not([data-select="label"]) .refine-edge-wrapper {
  display: flex;
}
.controls[data-select="image"] .select-bg-wrapper {
  display: flex;
}
.labels-wrapper {	
  margin: 1em 0;	
  font-size: 14px;	
}
.seg-label.highlight {
  color: #0070c9;
  background: #f2f2f2;
}
.seg-label span {
  margin-right: 5px;
}
.seg-label {
  transition: color .1s ease-in, background-color .1s ease-in;
  padding: 3px 10px 3px 10px;
  border-radius: 15px;
  height: 30px;
  font-variant: small-caps;
}
.select-bg-wrapper .btn {
  width: 100%;
}