@import "~bulma/sass/utilities/_all";

$body-font-size: 14px;
$body-font-weight: 200;

// Set your colors
$primary: #ffffff;
$primary-invert: findColorInvert($primary);
$info: #0071c5;
$twitter: rgba(204, 255, 144, 1.0);
$twitter-invert: findColorInvert($twitter);
$warning: #dc143c;
$danger: hsl(14, 100%, 53%);

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
"white": ($white, $black),
"black": ($black, $white),
"light": ($light, $light-invert),
"dark": ($dark, $dark-invert),
"primary": ($primary, $primary-invert),
"info": ($info, $info-invert),
"success": ($success, $success-invert),
"warning": ($warning, $warning-invert),
"danger": ($danger, $danger-invert),
"twitter": ($twitter, $twitter-invert)
);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";