body, button, input, select, textarea {
  font-family: 'Lato', sans-serif !important;
  /* font-weight: 200 !important; */
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active for below version 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}

.fade-slide-enter-active {
  transition: all .3s ease;
}
.fade-slide-leave-active {
  transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.fade-slide-enter, .fade-slide-leave-to
{
  transform: translateX(-10px);
  opacity: 0;
}

@media (max-width: 768px) {
  .columns {
    margin: 0px !important;
  }

  .columns:last-child {
    margin-bottom: -0.75rem !important;
  }

  .userlist .columns .ulu {
    display: inline-block !important;
  }
  
  .userlist .columns .ulr {
    text-align: right;
    min-width: 44px;
    padding-right: 0.75rem;
  }
}

.user .control.has-icons-left .input, .user .control .input, .user .button {
  background-color: transparent;
  border-radius: 0;
  border: 0px;
  color: rgba(255, 255, 255, 0.9);
}

.user .control {
  width: 80%;
}

.user .control .input:hover, .user .control .input:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.user .button .icon:hover {
  transition: all 0.5s ease;
  transform: rotate(-30deg);
  color: rgba(255, 255, 255, 1.0);
}

.user .button {
  width: 20%;
}

.user .button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.user .field {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

#send {
  position: relative;
  top: 10px;
}

.user .conversation {
  height: 188px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-top: 0.25rem;
}

.cslist {
  padding: 0 0.75rem;
  text-align: left;
}

.cslist:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.cslist .columns {
  margin: 0 !important;
  padding: 0;
}

.cslist .columns .column {
  padding: 0px;
  font-size: 0.7rem;
}

.imtime {
  text-align: left;
  margin-right: 20px;
  border: 0px !important;
  padding: 0px;
}

.imuser {
  max-width: 180px;
  overflow: hidden;
  text-overflow: ellipsis;
  border: 0px !important;
  max-height: 20px;
  padding: 0px;
  text-align: right;
}

.userlist {
  height: 188px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.columncenter {
  display: flex;
  flex-direction: column;
}

.videos {
  flex: 1;
  height: 100%;
}

.meetingcontrol {
  border-top: 0px solid rgba(255, 255, 255, 0.2);
  height: 36px;
  text-align: center;
  z-index: 999;
  margin:0 auto;
  position: relative;
  top: -80px;
  visibility: hidden;
  visibility: visible;
}

.togglecontrolbar {
  position: relative !important;
  display: block !important;
  margin:0 auto;
  text-align: left;
  top: 68px;
  left: -10px;
}

.togglecontrolbar .button {
  width: 48px !important;
  background-color: transparent !important;
  background-image: none !important;
}

.togglecontrolbar .button:hover {
  box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0) !important;
  color: rgba(255, 255, 255, 1.0);
  background-color: rgba(255, 255, 255, 0.2) !important;
}

.container:hover .meetingcontrol {
  transition: all .3s ease;
  visibility: visible;
}

.meetingcontrol .button:first-child {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  width: 24px;
}

.meetingcontrolai .button:first-child {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  width: 100%;
}

.meetingcontrol .button:last-child {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.meetingcontrol .leavemeeting.button {
  background: #dc143c;
}

.meetingcontrol .button {
  margin-top: -8px;
  width: 48px;
  height: 36px;
  background-image: linear-gradient(to bottom,#3c3c3c 0,#222 100%);
  background-repeat: repeat-x;
  margin: 0 -2px 0 -2px;
  border-radius: 0px;
  border: 0px solid rgba(0, 0, 0, 0.5);
  color: rgba(255, 255, 255, 0.9);
}

.meetingcontrol .button:hover, .meetingcontrol .button:active {
  box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.25);
  color: rgba(255, 255, 255, 1.0);
  border: 0px solid rgba(0, 0, 0, 0.7) !important;
}

.meetingcontrolai .button:hover,
.meetingcontrolai .button:hover .icon i,
.meetingcontrolai .button:hover span,
.meetingcontrolai .btneffect span,
.meetingcontrolai .btneffect .icon i {
  color: rgba(204, 255, 144, 1.0) !important;
}

.meetingcontrol .button span:not(:hover) {
  color: rgba(255, 255, 255, 0.9);
}

.meetingcontrol .button .icon:hover {
  color: rgba(255, 255, 255, 1.0);
}

.meetingcontrol .date {
  width: 100px !important;
  border-right: 1px solid rgba(0, 0, 0, 0.2) !important;
  font-size: 0.8rem;
  padding: 0px 0 0 0;
  height: 36px;
  overflow: hidden;
}

.meetingcontrol .button .icon {
  margin-top: -4px;
  font-size: 1.4rem;
  color: rgba( 255, 255, 255, 1.0);
}

.meetingcontrol .button .icon:hover {
  transition: none !important;
  transform: none !important;
}

.button:focus,
.btnfullscreen:focus {
  outline: transparent none 0px !important;
}

.button:focus:not(:active),
.button.is-focused:not(:active) {
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0) !important;
  color: rgba(255, 255, 255, 0.8);
}

.meetingcontrolai {
  width: 186px;
  margin: 0 auto;
  margin-top: 0px;
  position: relative;
  top: -10px;
  left: 132px;
  text-align: left;
  background-image: linear-gradient(to bottom,#3c3c3c 0,#222 100%);
  background-repeat: repeat-x;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
}

.meetingcontrolai .button {
  width: 100%;
  display: flex;
  justify-content: left;
  font-size: 0.8rem;
  background: transparent !important;
  margin: 0px;
}

.meetingcontrolai .button:first-child, .meetingcontrolai .button:last-child {
  border-radius: 0px;
}

.meetingcontrol .btnactive .icon i  {
  /* background: #47cf73 !important; */
  color: rgba(204, 255, 144, 1) !important;
}

.fullscreencontrolbar.meetingcontrol .button, .fullscreencontrolbar .meetingcontrolai {
  background-image: none !important;
  background-color: transparent !important;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}

.fullscreencontrolbar.meetingcontrol .button:hover {
  box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0) !important;
  color: rgba(255, 255, 255, 1.0);
  background-color: rgba(255, 255, 255, 0.2) !important;
}

.fullscreencontrolbar.meetingcontrol .date {
  border: 0px !important;
}

.fullscreencontrolbar .inner-circle {
  background-image: none;
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.2); 
  border-radius: 1px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 1px;
  background: rgba(255, 255, 255, 0.4);
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.2); 
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0, 0, 0, 0.2);
}

.notices .toast.is-warning {
  color: rgba(255, 255, 255, 1.0) !important;
}

.notices .toast {
  padding: 0.5em 1em !important;
}

.nopadding {
  padding: 0 !important;
}

.isleft {
  text-align: left;
}

.pd {
  padding: 0.75rem 0 0 0.75rem;
}

.pd2 {
  padding: 0.25rem 0 0.25rem 0.75rem;
}

.issplit {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  height: 1px;
}

.userlist .columns {
  margin: 0;
  /* margin-bottom: -9px !important; */
  margin-top: -10px;
}

.userlist .columns:first-child {
  margin-top: 0px !important;
}

.userlist .columns:last-child {
  margin-bottom: 0.75rem !important;
}

.userlist .columns:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.userlist .columns {
  padding: 0.25rem 0;
}

.userlist .columns .column {
  padding: 0;
  border: 0px;
}

.userlist .columns .ulicon {
  display: inline-block;
}

.userlist .columns .ull {
  padding-left: 0.75rem;
}

.userlist .columns .ulu {
  display: inline-block;
  height: 1rem;
  max-width: 108px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.userlist .columns .ulr {
  text-align: right;
  min-width: 44px;
  padding-right: 0.75rem;
}

.lg {
  color: rgba(204, 255, 144, 1.0);
}

a:hover {
  color: rgba(204, 255, 144, 1.0) !important;
}

.page-enter-active, .page-leave-active {
  transition: opacity .5s;
}
.page-enter, .page-leave-active {
  opacity: 0;
}

body {
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

body::-webkit-scrollbar {
  display: none;
}

body::scrollbar {
  display: none;
}

.section {
  padding: 1rem 0rem !important;
}

.home,
.navbar-item,
.navbar-link {
  color: rgba(255, 255, 255, 1);
}

.hero-body {
  padding: 0;
}

#shadow {
  background: rgba(0, 0, 0, 0.5);
  position:fixed;
  top:0;
  left:0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  opacity: 1.0;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  display: none;
  /* background: linear-gradient(-45deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)); */
	/* animation: gradient 15s ease infinite;
  transition:all 2s ease; */
}

/* @keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
} */

.content {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 82vh;
  margin-top: 0rem;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}

#slider {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -2;
  /* mask-image: linear-gradient(to bottom, transparent 25%, black 75%); */
} 

#slider:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #2e9aa4); */
  background: radial-gradient(ellipse farthest-corner at center bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4));
  opacity: 1;
  /*  animation: grad 15s ease infinite; */
  background-size: 100% 100%;
}

.scenery:before {
  background: radial-gradient(ellipse farthest-corner at center bottom, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1)) !important;
  /* backdrop-filter: blur(0px); */
}

@keyframes grad {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.footerbrackets a {
  color: #fff;
  text-decoration: none;
  margin: 0px 6px;
  padding: 10px 10px;
  position: relative;
  z-index: 0;
  cursor: pointer;
}

.brackets a:before,
.brackets a:after {
  position: absolute;
  opacity: 0;
  font-size: 1.2rem;
  top: 4px;
  transition: all 0.3s;
}

.brackets a:before {
  content: '(';
  left: 0px;
  transform: translateX(10px);
}

.brackets a:after {
  content: ')';
  right: 0px;
  transform: translateX(-10px);
}

.brackets a:hover:before,
.brackets a:hover:after {
  opacity: 1;
  transform: translateX(0px);
}

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1), 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1);
  }
  100% {
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1), 0 0 0 80px rgba(255, 255, 255, 0);
  }
}

@keyframes ripplefullscreen {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.05), 0 0 0 20px rgba(255, 255, 255, 0.05), 0 0 0 40px rgba(255, 255, 255, 0.05), 0 0 0 60px rgba(255, 255, 255, 0.05);
  }
  100% {
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.05), 0 0 0 40px rgba(255, 255, 255, 0.05), 0 0 0 60px rgba(255, 255, 255, 0.05), 0 0 0 80px rgba(255, 255, 255, 0);
  }
}

.fullscreen .webnnbadge .webnn-supported,
.fullscreen .webnnbadge .webnn-not-supported {
  background: rgba(255, 255, 255, 0);
  border-radius: 2px;
}

.fullscreen .webnnbadge .webnn-supported:hover,
.fullscreen .webnnbadge .webnn-not-supported:hover {
  background: rgba(255, 255, 255, 0.2);
}

.fullscreen .webnnbadge .btn .icon {
  animation: ripplefullscreen 0.6s linear infinite;
}

.fullscreen .webnnbadge:hover .btn .icon {
  animation: ripple 0.6s linear infinite;
}